<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <style>
        body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
  
        #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
        #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
        #input:focus { outline: none; }
        #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }
  
        #messagesBody { list-style-type: none; margin: 0; padding: 0; }
        #messagesBody > li { padding: 0.5rem 1rem; }
        #messagesBody > li:nth-child(odd) { background: #efefef; }
    </style>
</head>


<body>
    <ul id="messagesBody"></ul>

    <form onsubmit="return sendMessage();">
        <input id="message" placeholder="Enter Message">
        <input type="submit" value="Send">
    </form>

    <script>
        const server = "http://localhost:5000";
        const socket = io(server);
        
        function sendMessage(){
            var msg = document.getElementById("message");
            socket.emit("message", msg.value);
            msg.value = "";
            return false;
        }

        $.ajax({
            url: server + "/messages",
            method: "GET",
            success: function(res){
                console.log(res);

                var messages = document.getElementById("messagesBody");

                var data = JSON.parse(res);
                for (var a = 0; a < data.length; a++){
                    var li = document.createElement("li");
                    li.innerHTML = data[a].message;
                    messages.appendChild(li);
                }
            }

        });

        socket.on('message', function(data) {
            var li = document.createElement("li");
            li.innerHTML = data;

            var messages = document.getElementById("messagesBody");
            messages.appendChild(li);
        })
        socket.on('connection');

    
    
    </script>

</body>

</html>

