.chat-item {
    list-style-type: none; 
    border: 1px solid rgb(44, 147, 237); 
    padding: 10px 0; 
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.chat-item img {
    width: 50px;  
    height: 50px; 
    border-radius: 50%; 
}

.chat-item .username {
    font-size: 16px; 
    margin-left: 10px; 
}

.header {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.chatButton {
    cursor: pointer;
    padding: 6px 12px;
    background-color: rgb(44, 147, 237);
    color: white;
    border: none;
    border-radius: 20px;
    flex-shrink: 0;
    height: 30px;
    margin-left: 30px;
    margin-top: 25px;
}

.selected-chat {
    background-color: #c5c4c4;
}


