@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
.navbar {
  display: flex;
  border-radius: 2%;
  background-color: rgb(44, 147, 237);
}

.parlons-image {
  height: 70px;
  width: 150px;
}

.right-bar {
  margin-left: 60%;
}

.name{
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-left: 2%;
}

.contacts-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-top: 20px;
  color: white;
}

.chats-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-top: 20px;
  color: white;
}

.profile-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-top: 20px;
  color: white;
}

.welcome-message {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin-top: 15%;
}

.welcome-message h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.welcome-message p {
  font-size: 1rem;
  color: #666;
}